.header-container{
    display: flex;
    background-color: rgb(39, 91, 195);
    height: 80px;
    width: 100%;
    padding: 14px;
    margin: 0;
    justify-content:left;
    align-items: center;
}
.logo-holder{
    display: flex;
    width: 40px;
    height: 40px;
    margin: 15px;
    padding: 4px;
}

.dropdown{
    width: 20%;
    height: 60px;
    align-items: center;
    justify-content:left;
    padding: 1px;
    margin: 5px;
    
}
.btn{
    display: inline-flex;
    background-color: rgb(28, 28, 157);
    width: 300px;
    height: 85%;
    margin: 10px;
    gap: 10px;
    padding: 5px;
    border: 2px;
    border-radius: 1.5rem;
    border-color: aliceblue;
    align-items: center;
    justify-content:left;

}
.dropdown-menu{
    position: absolute;
    width: 350px;
    height: 320px;
    background-color: rgb(39, 91, 195);
    padding: 5px;
    border: none;

}
.store-image{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 100%;
    align-items: center;
    margin: 8px;
}
.dropdown-toggle:hover {
    background-color: #042344; /* Change to your preferred color */
    color: white; /* Optional: Change text color */
}
.address-image-span{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 100px;
    width: 90%;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.address-span {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 70px;
    width: 90%;
    border: 1px solid #042344; /* Corrected border property */
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #124f7d; /* Hover color */
  }
.button-content {
    display: flex;
    flex-direction: column; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-content p {
    margin: 0; 
}
.btn:focus,
.btn:active {
  background-color: #224569; /* Darker blue when clicked */
  outline: none;
}
.address-image{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 60%;
    gap: 10px;
    margin: 20px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    
}
.address-label{
    font-weight: bolder;
    color: white;    
}
.ship-image{
    border-radius: 100%;
}
.input-group {
 height: 50px;
 margin: 30px;
 width: 45%;
 border-radius: 50%;
}
.form-control{
border-radius: 30px;
}
/* .form-control:hover{
border: 2px solid;
border-radius: 0%;
} */

.cart{
justify-content: center;
align-items: center;
padding: 10px;
}
.cart-buttons {
background-color: transparent;
color:white;
width: 90px;
height: 50px;
margin: 10px;
margin-right: 10px;
border-radius: 30px;
border: none;
justify-content: center;
align-items: center;

}
.cart-buttons:hover {
    background-color: #0e2e46;
}
.cart-icon{
    color: white;
    font-size: x-large;
}
.cart-label{
    font-weight: bold;
}
.address-button{
    width: 260px;
    background-color: rgb(14, 14, 146);
    color: white;
    border-radius: 20px;
    font-weight: 300;
}

.hero-objects img, 
.hero-objects video {
    object-fit: cover; /* or contain, fill, etc., depending on your needs */
    width: 100%; /* Optional: Adjust width if needed */
    height: 100%; /* Optional: Adjust height if needed */
}
